//header color
$bg-green: #058283;
$bg-social: #21333E;
$text-grey: #BFC2CF;
$bg-trasparent:#05838341;

//main color

//generalcard
$bg-icons: #DAECED;
$bg-Ge-card: #EEF4ED;


//company
$bg-green: #058283;
$bg-text: #DAECED;

//excellence
$bg_text: #0E272D;
$bg-dark: #111117;
$bg-card: #19191F;

//bg-footer
$bg-footer: #0D0D11;

